@CHARSET "UTF-8";

#main {
	min-height: 400px;
}

footer {
	text-align: center;
	padding-top: 20px;
	border-top: 3px solid #123456;
}

.btn.btn-primary {
	margin-top: 10px;
	display: inline-block;
	padding: 5px 10px;
	background-color: #123456;
}

.btn.btn-primary:hover {
	background-color: #fff;
	color: #123456;
}

h1 {
	padding: 10px;
	color: #fff;
	text-align: center;
	background-color: #123456;
}

h2 {
	border-bottom: 3px solid #123456;
}

label {
	padding-right: 10px;
}